html
  head
    style 
      include ../styles/styles.css
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
    title= '[🎲] Pseudozufallsgenerator'
  body
    h1= 'Pseudozufallsgenerator'
    h2= randomString
    button(onClick='window.location.reload();') ♻️
    br
    br
    br
    h3= 'Eigenschaften:'
    ul
      li= 'Entropiequelle: mp3-Datei, 34 Sekunden lang'
      li= 'Startwert: die sechs letzten Ziffern der aktuellen Unix-Zeit'
      li= 'Länge des pseudozufälligen Strings: 20 Zeichen'
    p. 
      Made by #[a(href='https://www.fabianreitz.dev') Fabian Reitz] - View my Code on #[a(href='https://github.com/FabianReitz/audio_base64_converter') GitHub]
      